/*
 * Manual Bootstrap override
 */
body{
    min-height: 100vh !important;
    position:relative;
    margin:0 !important;
    padding:0 !important;
}
/* Responsive styling sizing for small devices */
@media (max-width:575.98px) {
    .display-1 {
        font-size:3rem;
        font-weight:300;
        line-height:1.0;
    }
    .display-2 {
        font-size:2.75rem;
        font-weight:300;
        line-height:1.0;
    }
    .display-3 {
        font-size:2.25rem;
        font-weight:300;
        line-height:1.0;
    }
    .display-4 {
        font-size:1.75rem;
        font-weight:300;
        line-height:1.0;
    }
}
/*
 * Custom colour swatch
 * 'l' colours are light, 'd' colours are dark
 */
.colour-p{
    background-color:#256E5D !important;
}
.colour-l1{
    background-color:#60A192 !important;
}
.colour-l2{
    background-color:#D0F2EA !important;
}
.colour-d1{
    background-color:#043B2E !important;
}
.colour-d2{
    background-color:#000806 !important;
}
.text-l1{
    color:#AAAAAA;
}
.text-l2{
    color:#D0F2EA;
}
.text-d1{
    color:#043B2E;
}
.text-d2{
    color:#000806;
}
/*
 * Additional CSS functions
 */
 /* enlarges social link text on hover */
.text-bulge{
    -webkit-transition:font-size .4s, width .4s;
    transition:font-size .4s, width .4s;
}
.text-bulge:hover{
    font-size:200%;
    width:150%;
}
/* prepares animation for welcome message */
#welcome-message{
    position:relative;
    left:-100%;
}